body{
    background-color: #e7e7e9;
}
p{
    font-size: 2.5rem;
}
.img{
    margin: 0 auto;
    display: inline-block;
}
.center{
    text-align: center;
}
span { 
   font-size: 2.5rem;
}
.title{
    font-weight: bold;
    margin-right: 1rem;
}
.list {
    border: 1px solid #e7e6ea;
    background-color: #ffffff;
    border-radius: 8px;
    line-height: 6rem;
    margin:1rem 0;
}
.wap{
    display: none;
}
@media (max-width: 576px) {
    body{
        background-color: #ffffff;
    }
    .pc{
        display: none;
    }
    .wap{
        display: block;
        background: #931111;
        padding: 0.6rem 0;
    }
    .wap img{
        width: 50%;
    }
    span.item {
        margin-left: 0;
    }
    span {
        font-size: 12px;
        margin-left: 3rem;
        font-weight: bold;
    }
    p {
        font-size: 2rem;
    }
    .list {
        line-height: 1.6rem;
        margin: 7px -5px;
        padding: 0.5rem 0;
        border: 2px solid #e7e6ea;
    }
    .logo {
        width: 3rem;
        position: absolute;
        left: 1rem;
        top: 0.5rem;
    }
    .copy-img {
        width: 7.1rem;
    }
    .link{
        width: 9.2rem;
        margin-top: 0.5rem;
    }
    .col-xs-3{
        padding:0.5rem 0 0 2rem;
    }
    .col-xs-5{
        padding-right: 0;
        text-align: left;
    }
}